MoverDatos.dtd

<!ELEMENT ListaCompras (Venta+)>
        <!ELEMENT Venta (Ventaacredito|Ventainmediata)>
        <!ELEMENT Ventaacredito (Fechafinpago?,Cantidad)>
        <!ELEMENT Ventainmediata (Cantidad,Divisa)>
        <!ELEMENT Fechafinpago (#PCDATA) >
        <!ELEMENT Cantidad (#PCDATA)>
        <!ELEMENT Divisa (#PCDATA)>
